*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab

# Gradle
.gradle/
build/
app/build/

# Android Studio
*.iws
*.iml
*.ipr
out/
.idea/

# Key files
*.jks
*.keystore
